{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": { "react/jsx-filename-extension": [0] }, 
  "overrides": [
    {
      "files": [
        "**/*.test.js",
        "**/*.test.jsx"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}